@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";


.home__house{
    flex-wrap: wrap;
    @include display;
    width: 100%;

    background-color: $background-color;
    border-radius: $border-radius-normal;

        @media screen and (max-width:$breakpoint-small){
            background-color: white;      
        }
};

