@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixins";

.nav{
    display: flex;
    justify-content: space-around;

    height: 34px;
    width: 309px;
    top: 20px;

    &_link{
        display: flex;
        justify-content: space-between;
        width: 70%;

        @media screen and (max-width:$breakpoint-small){
            width: 70%;
            justify-content: space-between;
            justify-content:left;
        }
    }
    
    &_link-home,
    &_link-about{
        margin-top: 50px;
        font-size: 20px;
        font-weight: 500;

        text-align: right;
        text-decoration: none;

        color : $primary-color;

        &:hover,
        &:focus{
			text-decoration-line: underline;
            cursor: pointer;
		}
        @media screen and (max-width:$breakpoint-small){
            font-size: 12px;
            text-transform : uppercase;
            padding: 4px;

        }       
    }   
}