@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixins";

.group_banner{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.title{
    /* Chez vous, partout et ailleurs */
    @include display;
    position: absolute;
    padding:80px;

    font-style: normal;

    font-weight: 500;
    font-size: 48px;
    z-index: 1;
    /* or 68px */

    display: flex;
    align-items: flex-end;

    color: white;

        @media screen and (max-width: 769px){
            font-size: 18px;
            height: 48px;
            width: 217px;
            left: 36px;
            top: 104px;
        }
};

.banner{
   /* IMG */
    position: absolute;
    
    @include banner
        
};

.background{
    /* BACKGROUND */
    position: relative;
    
    @include banner 
}