@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixins";

.group{
    @include display;
    @media screen and (max-width: $breakpoint-small){
        @include media-query-small;  
        @include display;
        width: 100%;
    }
    
    
    &_banner{
         /* IMG */
    position: absolute;    
    @include banner;
    @include media-query-small;
    
    }

    &_background{
        /* BACKGROUND */
    position: relative;
    
    @include banner;
    @include media-query-small;
    }

    &_title{
        /* Chez vous, partout et ailleurs */
    position: absolute;
    padding:30px;

    font-size: 48px;
    z-index: 1;

    display: flex;
    align-items: flex-end;

    color: white;

    @include font;

        @media screen and (max-width: $breakpoint-small){
            position: absolute;
            left: 5%;
        
            font-size: 24px;

            display: flex;
            align-items:flex-end;
            margin:auto;
        }
       
    }

    &_line{
       @include line_break;
    }
    
}

