@import "../../../sass/utils/variables";
@import "../../../sass/utils/mixins";

.group{
    @include display;
    @include media-query-small;
    
    &_banner{
         /* IMG */
    position: absolute;    
    @include banner;
    @include media-query-small;
    }

    &_background{
        /* BACKGROUND */
    position: relative;
    
    @include banner;
    @include media-query-small;
    }

    &_title{
        /* Chez vous, partout et ailleurs */
    position: absolute;
    padding:30px;
    font-style: normal;

    font-weight: 500;
    font-size: 48px;
    z-index: 1;

    display: flex;
    align-items: flex-end;

    color: white;

        @media screen and (max-width: $breakpoint-small){
            position: absolute;
            left: 2%;
          
            font-style: normal;
            font-weight: 500px;
            font-size: 24px;

            display: flex;
            align-items:flex-end;
            margin:auto;
        }
    }

    &_line{
       @include line_break;
    }
    
}

