@mixin banner {
    object-fit: cover;
    margin-bottom: 40px;

    height: 223px;
    border-radius: 20px;
    overflow: hidden;

        @media screen and (max-width: 769px){
            height: 100px;
            width: 335px;
            margin-left: 10px;

            border-radius: 10px;
        }
};

@mixin display{
    display: flex;
    justify-content: center;
    margin: auto;
};

@mixin collapse{
    
}
