$primary-color : #FF6060; 
$secondary-color: #f1f1f1;

$background-color: #E5E5E5;;


$breakpoint-small: 768px;

$border-radius-extra-small:5px;
$border-radius-small:10px;
$border-radius-normal:20px;


$size-small:12px;
$size-medium:14px;
$size-normal: 18px;




