@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.error{

    &__Number{
        font-size: 288px;
        font-weight: 700;
        margin-bottom: -50px;
        margin-top: -20px;
        text-align: center;
    
        color: $primary-color;
    
        @media screen and (max-width:$breakpoint-small){
            margin-top: 100px;
            font-size: 96px;
            margin-bottom: 20px;
          }
    }

    &__Text{
        font-size: 36px;
        @include font;
        margin-bottom: 150px;
    
        text-align: center;
    
        color: $primary-color;
    
        @media screen and (max-width:$breakpoint-small){
            font-size: $size-normal;
          }
    }

    &__LinkHome{
        font-size: $size-normal;
        @include font;
    
        @include display;
    
        color: $primary-color;
    
        @media screen and (max-width:$breakpoint-small){
            font-size: $size-medium;
            margin-top: -30px;
          }
    }

    &__line{
        @include line_break;
    }
}



