@import "../../sass/utils/variables";


.errorNumber{
    font-size: 288px;
    font-weight: 700;
    margin-bottom: -50px;
    margin-top: -20px;
    text-align: center;

    color: $primary-color;
}

.errorText{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 150px;

    text-align: center;

    color: $primary-color;
}

.errorLinkHome{
    font-size: 18px;
    font-weight: 500;

    display: flex;
    justify-content: center;

    color: $primary-color;
}