@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";


.about__main{
    width: 80%;
    margin: auto;
    @include display;
    flex-direction: column;
    @media screen and (max-width: $breakpoint-small) {
       width: 100%;
    }
}
