@import "../../sass/utils/variables";


.about__main{
    width: 90%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
   

    &__dropdowns{
        width: 90%;
    }

    @media screen and (max-width: $breakpoint-small) {
        width: 100%;
    }
}
