@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";


.collapse {
    color: $secondary-color;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  

    @media screen and (max-width: $breakpoint-small){
      width: 335px;
      @include display;
      flex-direction: column;
      
    }

    
    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        $delay: 120ms * $i;
        animation: show-up 600ms $delay both;
        transform-origin: center;
      }
    }
  
    &__button {
      color: $secondary-color;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: $border-radius-extra-small;
      background-color: $primary-color ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 47px;
      cursor: pointer;
      position: relative;
      z-index: 1;
        
    @media screen and (max-width: $breakpoint-small){
      height: 30px;
    }
    }
  
    &__arrow {
        margin-top: 15px;
        width :18px;
        height :18px;
        pointer-events: none;
        transition: transform 300ms;
        translate: -50% -50%;
      }
    }
  
    .collapse__content {
      color: $primary-color;
      background-color: $background-color;
      border-radius: $border-radius-extra-small;
      margin-top: -5px;
      z-index: -1;
      max-height: 0;
      transition: max-height 250ms ease-out, padding 300ms ease-out;
      overflow: hidden;
      padding-left: 12px;
    }
    .collapse__text {
      margin: 0;
      font-size: 15px;
      @media screen and (max-width:$breakpoint-small){
        font-size: $size-small;
      }
    }
    .collapse__list {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 15px;
      @media screen and (max-width:$breakpoint-small){
        font-size: $size-small;
      }
    }
    .collapse__list-element {
      margin-bottom: 3px;
    }
  
  .rotate {
    transform: rotate(270deg);
  }
  .show {
    max-height: 500px;
    padding: 24px 12px 12px 12px;
    transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
  }
  
  @keyframes show-up {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }