@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";


.collapse {
    color: $secondary-color;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;

    // @include display;

    @for $i from 1 through 4 {
      &:nth-of-type(#{$i}) {
        $delay: 120ms * $i;
        animation: show-up 600ms $delay both;
        transform-origin: center;
      }
    }
  
    &__button {
      color: $secondary-color;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: $primary-color ;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 47px;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  
    &__arrow {
        width :20px;
        height :6px;
        font-size: 20px;
        pointer-events: none;
        transform: rotate(90deg);
        transition: transform 300ms;
        translate: -50% -50%;
      }
    }
  
    .collapse__content {
      color: $primary-color;
      background-color: $background-color;
      border-radius: 5px;
      margin-top: -5px;
      z-index: -1;
      max-height: 0;
      transition: max-height 250ms ease-out, padding 300ms ease-out;
      overflow: hidden;
      padding-left: 12px;
    }
    .collapse__text {
      margin: 0;
      font-size: 15px;
    }
    .collapse__list {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 15px;
    }
    .collapse__list-element {
      margin-bottom: 3px;
    }
  
  .rotate {
    transform: rotate(270deg);
  }
  .show {
    max-height: 500px;
    padding: 24px 12px 12px 12px;
    transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
  }
  
  @keyframes show-up {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }