@import "../../sass/utils/variables";

#header{
    display: flex;
    justify-content: space-between;

    max-width: 1440px;
    margin-bottom: 100px;
    height: 68px;
        @media screen and (max-width:$breakpoint-small) {
            display: flex;
            margin-bottom: 20px;
            height: 87px;
            width: 100%;
        }
}

.App-logo {
    height: 68px;
    width: 210px;
    padding: 15px;
        @media screen and (max-width:$breakpoint-small) {
            height: 47px;
            width: 35%;
            margin: auto;
        }
}





