
#header{
    display: flex;
    justify-content: space-between;

    max-width: 1440px;
    margin-bottom: 80px;
    height: 68px;
        @media screen and (max-width:769px) {
            justify-content: space-around;
          
            margin-bottom: 40px;
            height: 47px;
            width: 335px;
        }
}

.App-logo {
    height: 68px;
    width: 210px;
    margin-left: 20px;
    margin-top: 20px;
        @media screen and (max-width:769px) {
            height: 47px;
            width: 145px;
        }
}





