@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";

.singlehouse{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    @include font;

            @media screen and (max-width:$breakpoint-small){
                display: flex;
                flex-direction: column;
            }
        &__informations{
            color: $primary-color;
        }
            &__title{
                font-size: 36px;
                @include normal-size;
            }
                &__location{
                    font-size: $size-normal;
                    @include medium-size;
                }
                    &__tags{
                       display: flex;
                       flex-wrap: wrap;
                    }

                    &__rating-and-host{
                        display: flex;
                        flex-direction:column-reverse;
                        @media screen and (max-width:$breakpoint-small){
                            width: 100%;
                            height: 50px;
                           justify-content: space-between;
                           display: inline-block;
                        }
                    };

                    &__dropdowns{
                        display: flex;
                        justify-content: space-around;
                        font-weight: 400;
                        font-style: normal;
                        @media screen and (max-width:$breakpoint-small){
                            width: 100%;
                            justify-content: space-around;
                            flex-direction: column;
                        }
                    };
};

