.card {
    width: 340px;
    height: 340px;
    position: relative;
    margin: 28px;
    border-radius: 10px;
    animation: fadeInUp 600ms ease-in-out;
    overflow: hidden;

    @media screen and (max-width:769px){
        flex-wrap: nowrap;

        height: 255px;
        width: 335px;
        border-radius: 10px;
    }
    &__img{
        object-fit: cover;
        transform: scale(1);
        transition: transform 300ms;
        max-width: 100%;
        height: 100%;
       
    }
        .name {
            position: absolute;
            font-size: 18px;
            font-weight: 500px;
            margin: 15px 20px;
            color: white;
            box-sizing: inherit;
        }

        &__overlay {
            position: absolute;
            top: 0;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
            height: 100%;
            width: 100%;
            border-radius: inherit;
          }
          &:hover {
            > .card__img {
              transform: scale(1.01);
            }
          }
        }
        
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            transform: translateY(5px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        
}